$pri-color: rgb(214, 144, 15);
$sec-color: white;
$tri-color: black;
$pri-font: "Bungee Shade", cursive;
$sec-font: "IBM Plex Mono", monospace;

.form {
  width: 40vw;
  // background: $tri-color;
  display: flex;
  justify-content: center;
  align-items: center;
  .textField {
    width: 35vw;
    // color: $sec-color;
  }
}

.button_cont {
  // border: 1px solid black;
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;

  .button {
    // background: $pri-color;
    // color: $sec-color;
    margin-right: 5px;
  }
}

.uglyUpload {
  display: none;
}

@media (min-width: 900px) {
  .form {
    width: 30vw;
    // background: $tri-color;
    display: flex;
    justify-content: center;
    align-items: center;
    .textField {
      width: 25vw;
      // color: $sec-color;
    }
  }

  .button_cont {
    // border: 1px solid black;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;

    .button {
      // background: $pri-color;
      // color: $sec-color;
      margin-right: 5px;
    }
  }

  .uglyUpload {
    display: none;
  }
}

@media (min-width: 1300px) {
  .form {
    width: 20vw;
    // background: $tri-color;
    display: flex;
    justify-content: center;
    align-items: center;
    .textField {
      width: 15vw;
      // color: $sec-color;
    }
  }

  .button_cont {
    // border: 1px solid black;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;

    .button {
      // background: $pri-color;
      // color: $sec-color;
      margin-right: 5px;
    }
  }

  .uglyUpload {
    display: none;
  }
}
