$pri-color: rgb(221, 155, 32);
$sec-color: white;
$tri-color: black;
$pri-font: "Bungee Shade", cursive;
$sec-font: "IBM Plex Mono", monospace;

.uploader_cont {
  margin-top: 10px;
  margin-bottom: 0;
  // border: 1px solid black;
  width: 80vw;
  display: flex;
  flex-direction: row-reverse;
  // justify-content: space-between;
  align-items: center;
}

i {
  // margin-bottom: 15px;
  cursor: pointer;
}
.form {
  width: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $sec-font;

  .textfield {
    // border: 1px black solid;
    width: 30vw;
  }
  .button_cont {
    // border: 1px solid black;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;

    .button {
      // background: $pri-color;
      // color: $sec-color;
      margin-right: 5px;
    }
  }
  .uglyUpload {
    display: none;
  }
}

@media (min-width: 900px) {
  .uploader_cont {
    margin-top: 10px;
    margin-bottom: 0;
    // border: 1px solid black;
    width: 70vw;
    display: flex;
    flex-direction: row-reverse;
    // justify-content: space-between;
    align-items: center;
  }
}
