$pri-color: rgb(221, 155, 32);
$sec-color: white;
$tri-color: black;
$pri-font: "Bungee Shade", cursive;
$sec-font: "IBM Plex Mono", monospace;

.uploader_cont {
  margin-top: 10px;
  margin-bottom: 0;
  // border: 1px solid black;
  width: 80vw;
  display: flex;
  flex-direction: row-reverse;
  // justify-content: space-between;
  align-items: center;
}
.newProject_dialog {
  padding-left: 31vw;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
i {
  // margin-bottom: 15px;
  cursor: pointer;
}
.form {
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $sec-font;
  margin-bottom: 15px;

  .uglyUpload {
    display: none;
  }
}
