$pri-color: rgb(221, 155, 32);
$sec-color: white;
$tri-color: black;
$pri-font: "Bungee Shade", cursive;
$sec-font: "IBM Plex Mono", monospace;

$breakpoints: (
  "small": 750px,
  "standard": 900px,
  "wide": 1200px
);
@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

.user_card {
  // border: 1px black solid;
  margin-bottom: 10px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  img {
    border-radius: 1vw;
    margin-right: 30px;
    max-width: 20vw;
    @include mq("standard") {
      max-width: 15vw;
    }
    @include mq("wide") {
      max-width: 12vw;
    }
  }
  .info_cont {
    line-height: 1vh;

    .userInfo {
      // max-width: 40vw;
      font-size: 1.2em;
      font-family: $sec-font;
      color: $tri-color;
      // overflow: wrap;
      @include mq("small") {
        font-size: 1em;
      }
      @include mq("standard") {
        font-size: 1.4em;
      }
      @include mq("wide") {
        font-size: 1.5em;
      }
    }
    .fullName {
      @extend .userInfo;
      font-size: 1.5em;
      margin-bottom: 25px;
      @include mq("standard") {
        font-size: 1.6em;
        margin-bottom: 30px;
      }
      @include mq("wide") {
        font-size: 1.7em;
        margin-bottom: 40px;
      }
    }
  }
}
