$pri-color: rgb(221, 155, 32);
$sec-color: white;
$tri-color: black;
$pri-font: "Bungee Shade", cursive;
$sec-font: "IBM Plex Mono", monospace;

.newVersion_dialog {
  padding-left: 5vw;
  // width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
i {
  // margin-bottom: 15px;
  cursor: pointer;
}
.form {
  width: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $sec-font;
  margin-bottom: 15px;

  .uglyUpload {
    display: none;
  }
}
