$pri-color: rgb(221, 155, 32);
$sec-color: white;
$tri-color: black;
$pri-font: "Bungee Shade", cursive;
$sec-font: "IBM Plex Mono", monospace;
.nav {
  width: 100vw;
  height: 7vh;
  background-color: $tri-color;
  color: $sec-color;

  display: flex;
  justify-content: center;
  align-items: center;

  .nav_cont {
    // border: 1px solid white;
    width: 80vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h1 {
      color: $sec-color;
      font-family: $pri-font;
      font-size: 2em;
    }
    .cont {
      // border: 1px solid white;
      width: 10vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $sec-color;
      cursor: pointer;
      .Button {
        margin-left: 10px;
        max-width: auto;
        border: none;
        color: $sec-color;
        background: $pri-color;
        font-family: $sec-font;
        // text-decoration: none;
      }
    }
  }
}
